/AuthorizedActionLink/packages
/AuthorizedActionLink/AuthorizedActionLink/obj
/AuthorizedActionLink/AuthorizedActionLink/bin

AuthorizedActionLink/.vs/AuthorizedActionLink/v14/.suo
/src/AuthorizedActionLink/bin/NuGet
/src/AuthorizedActionLink/obj
